.parent {
  position: relative;
  top: 0;
  left: 0;
}

.headerImage {
  position: relative;
  top: 50px;
  left: 0;
  height: 200px;
  z-index: 1;
}

.profileImage {
    position: absolute;
    top: 0px;
    left: 10px;
    border: 5px grey solid;
    border-radius: 25px;
    z-index: 2;
}

.handleBox{
  position: absolute; 
  top: 320px;
  left: 250px;
  z-index: 2;
}

.handleInformation {
  position: absolute;
}