.searchBox { 
  border-style: solid; 
  border-color: black;
  width: 100%;
  height: 50%;
  border: none;
}

div .searchBox input{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border-color: grey;
}